.main { background: #eee; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; }
.main .menu { min-width: 500px; height: 500px; background: #000; text-align: center; padding: 20px; }
.main .menu .title { font-size: 36px; color: #fff; margin-bottom: 20px; }
.main .menu .monitor { max-width: 300px; min-height: 200px; background: #fff; margin: 0 auto; padding: 20px; text-align: left; border: 1px solid #000; }
.main .menu .monitor .text { font-size: 20px; }
.main .menu .input1, .main .menu .input2, .main .menu .input3, .main .menu .push { padding: 2px 10px; border: 1px solid #000; width: 300px; background: yellow; }
.main .menu .push { background: red; }
